@font-face {
  font-family: 'MyCustomFont';
  src: url('/fonts/UrbanSpace-Italic.ttf') format('truetype');
  
}


.s1{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
    
  }
  .planet1 {
    /* border: 2px dotted blue; */
    position: absolute;
    top: -150px;
    height: 400px;
    width: 100%;
  }
 
  .ds {
    font-weight: 72;
    color: yellow;
    font-family: 'MyCustomFont';
    font-size: 5rem;
    z-index: 1;
    /* border: 2px solid white; */
  }
  .planet2{
  
    /* border: 2px dotted yellow; */
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: -100px;
    height: 400px;
    width: 400px;
  }
  
  
@media screen and (min-width: 1300px) {
    
    .ds {
      font-size: 10rem;
    }
    .planet1 {
      top: -450px;
      height: 1000px;
    }
    .spaces {
      height: 150px;
      width: 500px;
    }
    .planet2 {
      height: 500px;
      width: 500px;
      bottom: 5%;
    }
  
   
  }
  @media screen and (max-width: 600px) {
    
    .planet1 {
      width: 300%;
      height: 300px;
    }
  
    
  }
  @media screen and (max-width: 400px) {
   
    .planet2 {
      height: 250px;
      width: 250px;
      bottom: 10%;
      right: -50px
  
    }
  }
  