@font-face {
  font-family: 'MyCustomFont';
  src: url('/fonts/UrbanSpace-Italic.ttf') format('truetype');
  
}
@font-face {
  font-family: 'MyCustomFont2';
  src: url('/fonts/UrbanSpace-Regular.ttf') format('truetype');
  font-weight: 12;
}

.s2 {
  display: flex;
  align-items: center;

}
.box2 {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
  position: relative;
}
.b2elements{
  height: 150px;
  width: 100%;
}
.elev {
  /* border: 2px solid white; */
  width: fit-content;
  font-weight: 72;
  color: yellow;
  font-family: 'MyCustomFont';
  font-size: 5rem;
  
}
.mascot {
  /* border: 2px solid white; */
  height: 200px;
  position: absolute;
  
}
.ate {
  /* border: 2px solid white; */
  width: fit-content;
  align-self: flex-end;
  font-weight: 1;
  color: yellow;
  font-family: 'MyCustomFont';
  font-size: 5rem;
}



.tothemoon {
  /* border: 2px solid white; */
  text-align: center;
  color: yellow;
  font-family: 'MyCustomFont2';
}

@media screen and (min-width: 1300px) {
  

  .box2 {
    /* border: 2px solid blue; */
    width: 600px;
  }
  .elev, .ate {
    font-size: 6rem;
  }
  
  .mascot {
      height: 300px;
  }
  .tothemoon {
    padding-top: 150px;
    font-size: 1.5rem;
  }

}
@media screen and (max-width: 600px){

 
  .b2elements {
      height: 100px;
  }
  
}
  
  