@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/UrbanSpace-Italic.ttf') format('truetype');
    
}

.s3 {
    display: flex;
    align-items: center;

  
}

.planet3 {
    /* border: 2px solid red; */
    position: absolute;
    height: 20vw;
    width: 20vw;
    left: 10%;
    top: 35%;
}
.sbox {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    
}
/* .tbox {
    border: 2px solid blue;
} */
.our {
    /* border: 2px solid white; */
    padding-left: 20px;
    font-weight: 72;
    color: yellow;
    font-family: 'MyCustomFont';
    font-size: 5rem;
}
.services {
    /* border: 2px solid white; */
    font-weight: 72;
    color: yellow;
    font-family: 'MyCustomFont';
    font-size: 5rem;
}

@media screen and (min-width: 800px){
    .planet3{
        left: 25%;
    }
}