.main {

  /* border: 5px solid red; */
 
  /* height: 100vh; */
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

}

/* .main::-webkit-scrollbar {
  width: 0;
  display: none;
}
*/
.main > section {
  position: relative;
  height: 100%;

  width: 100%;
  scroll-snap-align: start;



}


